@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

:root{

    --font00: 'Roboto', sans-serif;
}

@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}
*{
    margin: 0px;
    padding: 0px;

    font-family: var(--font00);
    box-sizing: border-box;
}

.content{
    background-color: rgb(223, 219, 219);
    padding: 1rem;
    height: 100vh;
    width: 100vw;
}

.content h1{
    padding: 5px;
    margin: 5px;
}

.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    list-style: none;
    padding: 5px;
    margin: auto;
}

.pokemon{
    position: relative;
    display: flex;
    flex-direction: column;

    margin: 1rem;
    padding: 1rem;
    height: 125px;
    background-color: rgb(14, 185, 157);
    color: white;
    border-radius: 1rem;
    
}

.number{
    color: rgba(9, 224, 9, 0.692);
    text-align: center;
}

.name{
    text-align: left;
    font-size: 1.4rem;
    color: white;
    margin: .25px;
    padding: 2px;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.type{
    padding: 0;
    margin: 0px;
    list-style: none;
}

.typef{
    
    font-size: 1em;
    padding: 1px 1px 1px 4px;
    margin: 4px;
    background-color: #61e1ca;
    border-radius: 10px;
    list-style: none;
}

.pokemon .detail img{
    position: absolute;
    top: 20%;
    left: 30%;

    max-width: 100vw;
    height: 70;
    display: inline-block;
    
}